{% extends 'base.html.twig' %}

{% block title %}GrandCategorie{% endblock %}

{% block body %}
    <h1>GrandCategorie</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ grand_categorie.id }}</td>
            </tr>
            <tr>
                <th>Grd_cat_nom</th>
                <td>{{ grand_categorie.grdCatNom }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_grand_categorie_index') }}">back to list</a>

    <a href="{{ path('app_grand_categorie_edit', {'id': grand_categorie.id}) }}">edit</a>

    {{ include('grand_categorie/_delete_form.html.twig') }}
{% endblock %}
