{{ form_start(form) }}
    <div class="form-group">
        <div class="col-2 mx-auto">
            {{ form_label(form.content, 'Content :')}}
            {{ form_widget(form.content)}}
            <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
        </div>
    </div>
    
{{ form_end(form) }}
