{# Form add artist #}

{{ form_start(form) }}
    {# {{ form_widget(form) }} #}
    <div class="container">
        <form>
            <div class="form-inline">
                <div class="form-group mb-2">
                    {{ form_row(form.name)}}
                </div>
            </div>
            <div class="form-inline">
                <div class="form-group mb-2">
                    <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
                </div>
                <div class="form-group mx-sm-3 mb-2">
                    <a href="{{ path('app_artist_index') }}" class="btn btn-secondary">back to list</a>
                </div>
                {# <div class="form-group mb-2">
                    {{ include('artist/_delete_form.html.twig') }}
                </div> #}
            </div>
        </form>
    </div>

{{ form_end(form) }}
