{% extends 'base.html.twig' %}

{% block title %}Entreprise{% endblock %}

{% block body %}
    <h1>Entreprise</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entreprise.id }}</td>
            </tr>
            <tr>
                <th>Ent_nm</th>
                <td>{{ entreprise.entNm }}</td>
            </tr>
            <tr>
                <th>Ent_adresse</th>
                <td>{{ entreprise.entAdresse }}</td>
            </tr>
            <tr>
                <th>Ent_siret</th>
                <td>{{ entreprise.entSiret }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_entreprise_index') }}">back to list</a>

    <a href="{{ path('app_entreprise_edit', {'id': entreprise.id}) }}">edit</a>

    {{ include('entreprise/_delete_form.html.twig') }}
{% endblock %}
