
{% extends 'base.html.twig' %}

{% block body %}

    <div class="container-fluid">
    <div class="table-responsive-sm">
        <table class="table table-striped table-hover table-dark">
            <thead>
                <tr>
                    <th scope="col"> ID </th>
                    <th scope="col"> ProductName </th>
                    <th scope="col"> SupplierName </th>
                    <th scope="col"> CategoryID </th>
                    <th scope="col"> Quantity </th>
                    <th scope="col"> UnitPrice </th>
                    <th scope="col"> UnitsinStock </th>
                    <th scope="col"> UnitsOnOrder </th>
                    <th scope="col"> ReorderLevel </th>
                    <th scope="col"> Discontinued </th>
                    <th>actions <a href="{{ path('app_products_new') }}"><i class="fa-solid fa-plus"></i></a></th>

                </tr>
            </thead>

            <tbody>
                {% for Product in products %}
                    <tr>
                        <td scope="row">{{ Product.Productid }}</td>
                        <td>{{ Product.Productname }}</td>
                        <td>{{ Product.Suppliers?Product.Suppliers.CompanyName:'null' }}</td>
                        <td>{{ Product.IdCategory }}</td>
                        <td>{{ Product.Quantity }}</td>
                        <td>{{ Product.UnitePrice }}</td>
                        <td>{{ Product.UnitsInStock }}</td>
                        <td>{{ Product.UnitsOnOrder }}</td>
                        <td>{{ Product.ReorderLevel }}</td>
                        <td>{{ Product.Discontinued }}</td>
                        <td>
                            <a href="{{ path('app_products_show', {'Productid': Product.Productid}) }}"><i class="fa-solid fa-eye"></i></a>
                            <a href="{{ path('app_products_edit', {'Productid': Product.Productid}) }}"><i class="fa-solid fa-pen"></i></a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        
        </table>
    </div>
    </div>
    
{% endblock %}