
{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="table-responsive-sm">
        <table class="table table-striped table-hover table-dark">
            <thead>
                <tr>
                    <th scope="col"> Order ID </th>
                    <th scope="col"> Product ID </th>
                    <th scope="col"> Customer ID </th>
                    <th scope="col"> Unit Price </th>
                    <th scope="col"> Quantity </th>
                </tr>
            </thead>

            <tbody>
                {% for Order in order %}
                    <tr scope="row">
                        <td><a href="order/{{ Order.orderid }}">{{ Order.orderid }}</a></td>
                        <td><a href="products/{{ Order.productid }}">{{ Order.productid }}</a></td>
                        <td>{{ Order.orders.getCustomerId() }}</td>
                        <td>{{ Order.unitprice }}</td>
                        <td>{{ Order.quantity }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        
        </table>
    </div>
</div>
    
{% endblock %}