{% extends 'base.html.twig' %}

{% block title %}Produit{% endblock %}

{% block body %}
    <h1>Produit</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ produit.id }}</td>
            </tr>
            <tr>
                <th>Produit_nom</th>
                <td>{{ produit.produitNom }}</td>
            </tr>
            <tr>
                <th>Produit_desc</th>
                <td>{{ produit.produitDesc }}</td>
            </tr>
            <tr>
                <th>Produit_url_photo</th>
                <td>{{ produit.produitUrlPhoto }}</td>
            </tr>
            <tr>
                <th>Produit_stock</th>
                <td>{{ produit.produitStock }}</td>
            </tr>
            <tr>
                <th>Produit_prix</th>
                <td>{{ produit.produitPrix }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_produit_index') }}">back to list</a>

    <a href="{{ path('app_produit_edit', {'id': produit.id}) }}">edit</a>

    {{ include('produit/_delete_form.html.twig') }}
{% endblock %}
