{% extends 'base.html.twig' %}

{% block title %}Disc index{% endblock %}

{% block body %}
    <h1 class="text-center">Disc index</h1>
    
    {% if is_granted('ROLE_USER') %}

    <div class="row row-cols-1 row-cols-md-3 m-0">
        {% for disc in discs %}
            <div class="col-sm-3 my-2">
                <div class="card text-center">
                    <img src="/img/{{disc.picture}}" class="card-img-top mx-auto" style="height: 100px; width: 100px; align-items: center;" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="{{ path('app_disc_show', {'id': disc.id}) }}">Disc #{{ disc.id }}</a>

                            {% if is_granted('ROLE_ADMIN') %}
                                <a href="{{ path('app_disc_edit', {'id': disc.id}) }}">
                                    <i class="fa fa-solid fa-pen"></i>
                                </a>
                            {% endif %}

                        </h5>
                        <p class="card-text">Title : {{ disc.title }}</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <p>
                            <a href="{{ path('app_artist_show', {'id': disc.artist.id}) }}">
                                Artiste : {{ disc.artist.name }} 
                            </a>

                            {% if is_granted('ROLE_ADMIN') %}
                                <a href="{{ path('app_artist_edit', {'id': disc.artist.id}) }}">
                                    <i class="fa fa-solid fa-pen"></i>
                                </a>
                            {% endif %}

                        </p>
                        <p>Label : {{ disc.label }}</p>
                        <p>Picture : {{ disc.picture }}</p>
                    </ul>
                </div>
            </div>
        {% else %}
            <div>
                <td colspan="5">no records found</td>
            </div>
        {% endfor %}
        
    </div>

    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('app_disc_new') }}" class="btn btn-primary">Create new</a>
    {% endif %}

    {% else %}
        <p class="text-center">Veuillez vous connecter pour lire le contenu de cette page</p>
    {% endif %}

{% endblock %}
