{% extends 'base.html.twig' %}

{% block title %}Disc{% endblock %}

{% block body %}
    <h1>Disc</h1>
    {# A présenter sous forme de cards pour plus de visibilité #}

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Artist</th>
                <th>Title</th>
                <th>Label</th>
                <th>Picture</th>
                <th>Comments</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ disc.id }}</td>
                <td>{{ disc.title }}</td>
                <td>{{ disc.label }}</td>
                <td>{{ disc.picture }}</td>
                <td>{{ disc.artist }}</td>
                <td>{% if disc.comments is not empty %}
                        {% for comment in disc.comments %}
                        {# {{dump(comment)}} #}
                        {{ comment.user.email }} :
                        {{ comment.content }} <br>
                        {% endfor %}
                    {% else %}
                        Pas de commentaire 
                    {% endif %}

                </td>
                <td><a href="{{path('app_comments_new', {disc: disc.id})}}"><buton class="btn btn-primary">Add comment</buton></a></td>
                {% if is_granted('ROLE_ADMIN') %}
                    <td><a href="{{ path('app_disc_edit', {'id': disc.id}) }}">
                        <i class="fa fa-solid fa-pen"></i>
                    </a></td>
                {% endif %}
            </tr>
        </tbody>
    </table>

    <div class="row">
        <div class='col-2 offset-2'>
            <a href="{{ path('app_disc_index') }}" class="btn btn-secondary">back to list</a>
        </div>

        {% if is_granted('ROLE_ADMIN') %}
            <div class='col-2 offset-2'>
                {{ include('disc/_delete_form.html.twig') }}
            </div>
        {% endif %}
    </div>

{% endblock %}
