{% extends 'base.html.twig' %}

{% block title %}Disc{% endblock %}

{% block body %}
    <h1>Disc</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ disc.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ disc.title }}</td>
            </tr>
            <tr>
                <th>Picture</th>
                <td>{{ disc.picture }}</td>
            </tr>
            <tr>
                <th>Label</th>
                <td>{{ disc.label }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_disc_index') }}">back to list</a>

    <a href="{{ path('app_disc_edit', {'id': disc.id}) }}">edit</a>

    {{ include('disc/_delete_form.html.twig') }}
{% endblock %}
