{% extends 'base.html.twig' %}

{% block title %}Fournisseur index{% endblock %}

{% block body %}
    <h1>Fournisseur index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Fourn_date_liv</th>
                <th>Fourn_date_cmd</th>
                <th>Fourn_bon_liv</th>
                <th>Fourn_bon_cmd</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for fournisseur in fournisseurs %}
            <tr>
                <td>{{ fournisseur.id }}</td>
                <td>{{ fournisseur.fournDateLiv ? fournisseur.fournDateLiv|date('Y-m-d') : '' }}</td>
                <td>{{ fournisseur.fournDateCmd ? fournisseur.fournDateCmd|date('Y-m-d') : '' }}</td>
                <td>{{ fournisseur.fournBonLiv }}</td>
                <td>{{ fournisseur.fournBonCmd }}</td>
                <td>
                    <a href="{{ path('app_fournisseur_show', {'id': fournisseur.id}) }}">show</a>
                    <a href="{{ path('app_fournisseur_edit', {'id': fournisseur.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_fournisseur_new') }}">Create new</a>
{% endblock %}
